// Define variables for your color scheme
$light-gray: #f1f3f4;
$light-blue: #79bac1;
$blue: #2a7886;
$purple: #512b58;
// For example:
$red: #e74c3c;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #57D073;
$gray: #0E0000